<html>
   <head>
      <center><h1>Sermon Note</h1></center>
   </head>
   <body>
      <h3><b>Hello ${licenseeName},</b></h3>
      </br>
      <h3>We have received a password reset request for your account. Click on the below link to reset your password.</h3>
      </br><a href="${resetPasswordUrl}">click here</a></br>
      <h3>if you are not the one who made this request get in touch with Sermon Note immediately </h3>
      </br></br>
      <h3>Thanks  </h3><br>
      <h3>Sermon Note</h3>
      </br>
      </body>
</html>
